/* Element Boundry Tool */

/* * {
  border: 1px solid red;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

/* Base Styling */
body,
html {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  scroll-behavior: smooth;
}

a {
  color: #495057;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

section a:hover {
  border-bottom: 1px solid #ff8f00;
}

form {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #fafafa;
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: rgb(51, 51, 51);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nav Bar */

.nav {
  background-color: #fafafa;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  border: 1px solid #e5e5e5;
  padding: 3px 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: rgb(51, 51, 51);
}

.nav a:hover {
  color: rgba(73, 80, 87, 0.7);
  text-decoration: none;
}

.nav > ul {
  display: flex;
  justify-content: space-around;
}

/* Header */

.background {
  width: 100%;
  background-color: black;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./components/images/header.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 10vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  font-weight: normal;
  color: white;
  max-width: 780px;
  text-align: center;
  -webkit-animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
  animation: fadein 0.3s;
}
