/* Element Boundry Tool */

/* * {
  border: 1px solid red;
} */

/* Base Styling */
body,
html {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  scroll-behavior: smooth;
}

a {
  color: #495057;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

section a:hover {
  border-bottom: 1px solid #ff8f00;
}

form {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #fafafa;
  text-align: center;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: rgb(51, 51, 51);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nav Bar */

.nav {
  background-color: #fafafa;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  border: 1px solid #e5e5e5;
  padding: 3px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: rgb(51, 51, 51);
}

.nav a:hover {
  color: rgba(73, 80, 87, 0.7);
  text-decoration: none;
}

.nav > ul {
  display: flex;
  justify-content: space-around;
}
